.canvas-wrapper {
  position: relative;
  display: inline-block;
}

#canvas {
    display: block;
}

.victory {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center the image */
  max-width: 100%;    /* adjust as needed */
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 10rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}